# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html
**/*.md

**/pnpm-lock.yaml

**/.git
**/.svn
**/.hg
**/node_modules

# ignore all yaml files
*.yaml
*.yml
# ignore all json files
*.json